body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.panel-body {
	font-size: 16px;
}

.help-block {
	font-size: 12px;
}

.btn {
	font-size: 16px;
}

.glyphicon-2x {
    font-size: 20px;
}

.color-box {
    width: 12px;
    height: 12px;
    margin: 3px;
    display: inline-block;
    background-color: #ccc;
    border: 1px solid #000;
}

.sl-fan-rotate {
    -webkit-animation:spin 2.5s linear infinite;
    -moz-animation:spin 2.5s linear infinite;
    animation:spin 2.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
